.thRetirada_qtd,
.thLocal_qtd
{
	width: 100px;
}
.tdRetirada_qtd,
.tdLocal_qtd
{
	text-align: center;
}

.thRetirada_loc,
.thLocal_apl
{
	width: 150px;
}
.thLocal_id,
.thUsuario_id
{
	width: 300px;
}

.thReti_qtd
{
	width: 100px;
}
.tdReti_qtd
{
	text-align: center;
}
.in_reti_qtd
{
	text-align: center;
}