/**********************************************/
.div_ajax
{
	text-align: left;
	padding: 0px 2px 0px 3px;
	float: left;
}

/**********************************************/
.filtro
{
	float: left;
	margin: 0px 10px 0px 0px;
}


/**********************************************/
.paginacao
{
	float: left;
}
.paginacao ul
{
	margin: 0px 15px 0px 0px;
	padding: 0px;
	list-style: none;
}

.paginacao ul li
{
	display: inline-block;
	width: 32px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: #fff;
}
.paginacao ul li a
{
	display: block;
}
.paginacao ul li a:hover
{
	background-color: #3276B1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	text-decoration: none;
}

/**********************************************/
.marcadores
{
	float: left;
	margin: 0px 10px 0px 0px;
}

/**********************************************/
.tabela
{
	/*background-color: #fff;
	padding: 4px;*/
	clear: both;
	display: table;
}
.tabela tr th
{
	background-color: #eee;
}
.tabLista .lista_input
{
	width: 120px;
}
.tabLista .inAlerta
{
	background-color: red;
	color: #fff;
	font-weight: bold;
}
.tabLista
{
	/*background-color: #fff;*/
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 5px 0px 0px 0px;
	position: absolute;
}
.tabLista tr
{
	background-color: #fff;
}
.tabLista th
{
	text-align: center;
	color: #92c5ef;
}
.tabLista tr th,
.tabLista tr td
{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tabLista input,
.tabLista select
{
	border: none;
	background-color: transparent;
}
.tabLista input
{
	padding: 0px 0px 0px 5px;
}
.tabLista input:focus
{
	background-color: #fff6a8;
}
.tabLista .in_nome
{
	width: 300px;
}
.tabLista .in_criado,
.tabLista .in_modificado
{
	text-align: center;
	width: 150px;
}
.tabLista .in_email
{
	width: 200px;
}
