#lista
{
	min-height: 540px;
	z-index: 900;
}
#lista .bt_lista_ajax
{
	cursor: pointer;
}
#lista #filtros div
{
	float: left;
	margin: 0px 5px 5px 0px;
}
#lista table
{
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
}

#lista table tr th,
#lista table tr td
{
	padding: 0px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#lista table tr th
{
	text-align: center;
	background-color: #428BCA;
	color: #fff;
}
#lista .thCidade_id
{
	min-width: 200px;
}
#lista table tr td
{
	padding: 0px 2px 0px 3px;
}
#lista table tr td input
{
	border: 0px solid #ccc;
	padding: 0px 5px 0px 5px;
}

#lista select
{
	border: 0px;
}
#lista #tabela select,
#lista #tabela input
{
	background-color: #fff;
}

#lista .in_nome,
#lista .in_empresa
{
	width: 250px;
}
#lista .in_email
{
	width: 200px;
}
#lista .in_acessos
{
	width: 50px;
	text-align: center;
}
#lista .in_territorio
{
	width: 50px;
	text-align: center;
}
#lista .in_celular
{
	width: 100px;
	text-align: center;
}
#lista .in_uf
{
	width: 50px;
	text-align: center;
}
#lista .in_ultimo_ip,
#lista .in_senha
{
	width: 80px;
	text-align: center;
}

#lista .in_cep
{
	text-align: center;
	width: 90px;
}
#lista .in_tel1,
#lista .in_tel2,
#lista .in_tel3
{
	text-align: center;
	width: 110px;
}

#lista .in_criado,
#lista .in_modificado
{
	width: 130px;
	text-align: center;
}
#tabLista
{
	clear: both;
}
#lista #tabela input:focus,
#tabNovo input:focus
{
	background-color: #fdffaf;
}
#tabLista th a
{
	color: #fff;
	display: block;
}

.btAlerta
{
	font-weight: bold;
	text-decoration: blink;
	background-color:#ff0000 !important;
}
