body
{
	 background-image: url("../img/bg4.png");
}

#cabecalho
{
	 background-image: url("../img/bg2.png");
	 color: #fff;
	 margin-bottom: 5px;
}
#cabecalho #cab1
{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #aaa;
}
#cabecalho a
{
	color: #fff;
	letter-spacing: 2px;
}
#cabecalho #cab2
{
	background-color: #535759;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	letter-spacing: 2px;
}
#conteudo
{
	min-height: 590px;
}
.msgFlashErro
{
	color: #fff;
	background-color: red;
	text-align: center;
	font-weight: bold;
	position: fixed;
	width: 100%;
	line-height: 40px;
	z-index: 1001;
}
.msgFlashOk
{
	color: #fff;
	background-color: green;
	text-align: center;
	font-weight: bold;
	position: fixed;
	width: 100%;
	line-height: 40px;
	z-index: 1001;
}

#sql_dump
{
	display: table;
	clear: both;
	margin: 10px 0px;
}
#sql_dump table th
{
	text-align: center;
	background-color: #eee;
}

#sql_dump table td
{
	padding: 3px;
	background-color: #fff;
	font-size: 10px;
}
#sql_dump .td_begin,
#sql_dump .td_commit,
#sql_dump .td_rollback
{
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #eee;
}
#sql_dump .td_begin
{
	color: green;
}
#sql_dump .td_commit
{
	color: green;
}
#sql_dump .td_rollback
{
	color: red;
}

#registro
{
	border: 1px solid #000;
	padding: 15px 0px 15px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
}
#registro label
{
	display: block;
	float: left;
	text-align: right;
	margin: 0px 5px 0px 0px;
	min-width: 120px;
}

#tampaTudo
{
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
}

.erro_sql
{
	color: red;
	font-weight: bold;
}

.btAlerta
{
	background-color: red;
}
/*******************************************/
#padrao_ferramentas
{
	float: right; 
	margin: 0px 20px 0px 0px;
	color: #000;
	display: inline;
	width: auto;
}
#padrao_ferramentas img
{
	cursor: pointer;
}
#padrao_ferramentas select
{
	background-color: #fff;
	width: 120px;
	border: none;
}


/*******************************************/
#permissoes
{
	display: none;
	position: absolute;
	left: 50%;
	top: 30px;
	width: 800px;
	margin-left: -420px;
	background-color: #fff;
	z-index: 9001;
	min-height: 500px;
	padding: 4px;
}
#permissoes label
{
	cursor: pointer;
	margin: 0px 5px 0px 0px;
}
