.in_acessos
{
	width: 60px;
	text-align: center;
}
.in_celular
{
	text-align: center;
	width: 110px;
}
.in_email
{
	width: 200px;
}
.in_nome
{
	width: 310px;
}
.in_senha
{
	width: 100px;
}
.in_ultimo_ip
{
	width: 100px;
	text-align: center;
}
.thCidade_id
{
	width: 200px;
	display: block;
}
