#painelCads ul
{
	list-style: none;
	background-color: #fff;
	padding: 10px 0px 10px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}


#painelCads ul li ul li
{
	display: inline-block;
	min-height: 60px;
	min-width: 100px;
	text-align: center;
	vertical-align: middle;
}
#painelCads ul li ul li a
{
	min-height: 60px;
	display: block;
	text-decoration: none;
	padding-top: 5px;
}
#painelCads ul li ul li a:hover
{
	background-color: #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#painelCads ul li
{
	display: block;
}